.custom-select {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    cursor: default;
}

.div-select {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
    background: white;
    color: gray;
    font-size: 0.875rem;
    font-weight: 500;
    border: solid 1px #EEEEEE;
}

.div-select span {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    min-height: 2rem;
    width: 100%;
}

.div-select input {
    display: flex;
    background-color: transparent;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;
    height: 0;
    width: 0;
    margin: 0;
    z-index: -1;
}

.icon-select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 0.65rem;
    margin-right: 5px;
}

.options-select {
    position: absolute;
    background: white;
    border: solid 1px var(--text);
    width: 90%;
    max-height: 90%;
    overflow: auto;
    z-index: 1;
}

.option {
    display: flex;
    max-width: 100%;
    padding: 5px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    border-bottom: solid 1px#e6e6e6;
    cursor: default;
    color: gray;
}

.option:hover {
    background-color: #248FF8;
    color: #fff;
}

@media(max-width: 425px) {
    .options-select {
        width: 70%;
    }
}