.div-body {
    display: flex;
}

.div-body-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    border: solid 1px;
    color: #FFFFFF;
    padding-left: 50px;
}

.div-body-txt h1 {
    font-family: 'Poppins';
    font-size: 3.5rem;
    font-weight: 550;
    color: #000000;
}

.div-body-txt span {
    text-align: left;
    font-size: 1.125rem;
    color: #7A7A7A;
    font-weight: normal;
}

.div-body-img {
    width: 60%;
}

.div-body-img img {
    width: 100%;
}

.div-body-info-title {
    text-align: left;
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 400;
    color: #1CB8AA;
    margin: 50px 0 50px 50px;
}


@media(max-width: 768px) {
    .div-body-txt {
        padding: 10px;
    }

    .div-body-txt h1 {
        text-align: center;
    }
}

@media(max-width: 540px) {
    .div-body {
        flex-direction: column-reverse;
        align-items: center;
    }

    .div-body-txt {
        width: 90%;
        padding: 0;
    }

    .div-body-img {
        width: 100%;
    }

    .div-body-info-title {
        margin-left: 10px;
        font-size: 1.625rem;
        font-weight: 500;
    }

    .div-body-txt h1 {
        /* font-size: 1.625rem;
        font-weight: 500; */
    }
}