.div-question-answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  width: 100%;
}
.div-question-answer > div p {
  text-align: left;
}
@media(max-width: 540px) {
  .div-question-answer {
    width: 90%;
  }
}