.Attorney-check {
  display: flex;
  /* border: solid 1px; */
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Attorney-check > p {
  font-size: 1.125rem;
  font-weight: 700;
  color: #071223;
  margin-left: 10px;
}
.attorney-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}