.divWealthTypes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.wealths {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-self: center;
  width: 100%;
}
.wealth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-break: break-all;
  max-width: 150px;
  padding: 10px;
  background-color: transparent;
  border-radius: 20px;
  border: solid 1px #4B4B4B;
  margin: 5px;
}

.addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addButton>button {
  color: #fff;
  border: none;
  background-color: var(--blu-f2p);
  border-bottom: solid 0.15rem var(--orange-f2p);
  width: 80%;
  height: 1.5rem;
  font-size: 0.7rem;
  margin-top: 10px;
  cursor: pointer;
}
.addButton>button:hover {
  background-color: #000a1ed0;
}

.wealth>button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  text-align: center;
  color: rgb(236, 102, 102);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.wealth>button:hover {
  background-color: rgb(236, 62, 62);
  color: #fff;
}