.divWealthTypes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addButton>button {
  color: #fff;
  font-size: 1.125rem;
  border: none;
  background-color: #F49925;
  margin: 50px 0 0 20px;
  cursor: pointer;
  padding: 15px 50px;
}

.addButton>button:hover {
  background-color: #cc8120;
}

.wealths {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-self: center;
  width: 100%;
}

.wealth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-break: break-all;
  max-width: 200px;
  padding: 10px;
  background-color: transparent;
  border-radius: 20px;
  border: solid 1px #4B4B4B;
  margin: 5px;
}



.wealth>button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  text-align: center;
  color: rgb(236, 102, 102);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wealth>button:hover {
  background-color: rgb(236, 62, 62);
  color: #fff;
}
@media(max-width: 540px) {
  .addButton>button {
    margin: 100px 0 0 0;
  }
}