:root {
  --white: #fff;
  --background: #F2F3F5;
  --background-dark: #1e2024;
  --gray-line: #DCDDE0;
  --text: #666666;
  --text-highlight: #B3D9FF;
  --title: #000A1E;
  --red: #E83F5B;
  --green: #4CD62B;
  --greenDark: #3b9e22;
  --blue: #5965e0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
  --blu-f2p: #000A1E;
  --orange-f2p: #F49925;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: var(--blu-f2p);
  border-left: solid 0.5rem var(--orange-f2p);
  height: 3.5rem;
  width: 100%;
}

header>span {
  font-size: 1.5rem;
  margin-right: 10px;
}

header>a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.div-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.div-client {
  display: flex;
  flex-direction: row;
  max-width: 40rem;
}

.div-client-1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.div-attorney {
  display: flex;
  max-width: 20rem;
}

.div-wealthsType {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.div-formsuity {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  /* margin-top: 40px; */
}

.div-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 1px; */
  width: 100%;
  padding: 50px;
}

.div-footer>button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  border: none;
  background-color: var(--blu-f2p);
  border-left: solid 0.3rem var(--orange-f2p);
  font-size: 1rem;
  width: 7rem;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.div-footer>button:hover {
  width: 7.5rem;
  background-color: #000a1ed0;
}

input {
  padding-left: 3.5px;
}

input,
select {
  min-height: 1.5rem;
  width: 100%;
  border-radius: 5px;
  background: white;
  color: gray;
  font-size: 14px;
  border: solid 1px var(--text);
}

p {
  text-align: center;
}

span {
  text-align: center;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flexdc {
  flex-direction: column;
}

.df-jcspb {
  justify-content: space-between;
}

.df-jcc {
  justify-content: center;
}

.df-alc {
  align-items: center;
}

.required {
  font-size: 0.75rem;
  margin-left: 5px;
  color: var(--red);
}

.error {
  border: solid 1px var(--red);
  color: var(--red);
}

.msgError {
  color: var(--red);
  font-size: 0.75rem;
}

.inputDescription {
  color: var(--title);
  font-size: 0.75rem;
}

.inputDescriptionTitle {
  color: var(--title);
  font-size: 0.85rem;
  font-weight: bold;
}

.errorCpf {
  color: var(--red);
  font-size: 0.75rem;
}


@media(max-width: 1784px) {
  .div-formsuity {
    margin-top: 40px;
  }
}
@media(max-width: 1024px) {
  .div-attorney {
    margin-top: 40px;
  }

  .div-formsuity {
    margin-top: 40px;
  }
}
@media(max-width: 768px) {
  .div-infos {
    display: flex;
  }

  .div-attorney {
    margin-top: 40px;
  }
}
@media(max-width: 540px) {
  .div-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-client {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
  }

  .div-client-1 {
    margin: 0;
    margin-top: 40px;
  }

  .div-wealthsType {
    max-width: 30rem;
    margin: 40px 0 80px 0;
  }

  .div-attorney {
    margin-top: 0;
  }
  header {
    height: 2.5rem;
  }
  
  header>span {
    font-size: 1rem;
  }
  
  header>a {
    font-size: 0.7rem;
  }
}
@media(max-width: 320px) {
  .div-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-attorney {
    margin-top: 0;
  }
}
@media(max-width: 280px) {
  header {
    height: 2.5rem;
  }
  
  header>span {
    font-size: 1rem;
  }
  
  header>a {
    font-size: 0.5rem;
  }
  .div-attorney {
    margin-top: 0;
  }
}

.select-search {
  /* border: solid 1px red; */
  width: 100%;
}

.select-search__input {}

.select-search__select {}

.select-search__options {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  max-width: 20rem;
  overflow: auto;
  list-style: none;
  border: solid 1px var(--text);
}

.select-search__row {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.select-search__row:hover {
  background-color: rgb(30, 114, 255);
}

.select-search__row:hover button {
  color: #fff;
}

.select-search__row button {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 2px;
}

.toastify-icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}