:root {
  --white: #fff;
  --background: #F2F3F5;
  --background-dark: #1e2024;
  --gray-line: #DCDDE0;
  --text: #666666;
  --text-highlight: #B3D9FF;
  --title: #000A1E;
  --red: #E83F5B;
  --green: #4CD62B;
  --greenDark: #3b9e22;
  --blue: #5965e0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
  --blu-f2p: #000A1E;
  --orange-f2p: #F49925;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  display: flex;
}

body {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--text);
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.div-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.div-client-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.div-identification-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.div-contact-adress {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.div-bank-accounts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.div-wealths-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.div-formsuity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.div-additional-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}

.div-footer {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-footer>button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 100px;
  border: none;
  background-color: #1CB8AA;
  font-size: 1.875rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.div-footer>button:hover {
  background-color: #1d9b90;
}

input,
select {
  padding: 13px 0 13px 5px;
  width: 100%;
  background: white;
  color: gray;
  font-size: 0.875rem;
  font-weight: 500;
  border: solid 1px #EEEEEE;
}

p {
  text-align: center;
}

span {
  text-align: center;
}

.d-none {
  display: none;
}

.d-flex-input {
  display: flex;
  width: 31%;
  margin-left: 20px;
  margin-bottom: 50px;
}

.d-flex {
  display: flex;
}

.d-flexdc {
  flex-direction: column;
}

.df-jcspb {
  justify-content: space-between;
}

.df-jcc {
  justify-content: center;
}

.df-alc {
  align-items: center;
}

.required {
  font-family: 'Source Sans Pro';
  color: #828795;
  font-size: 1.125rem;
  font-weight: 600;
  margin-right: 10px;
}

.error {
  border: solid 1px var(--red);
  color: var(--red);
}

.msgError {
  color: var(--red);
  font-size: 0.75rem;
}

.inputDescription {
  font-family: 'Source Sans Pro';
  color: #828795;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}

.inputDescriptionTitle {
  color: var(--title);
  font-size: 0.85rem;
  font-weight: bold;
}

.errorCpf {
  color: var(--red);
  font-size: 0.75rem;
}

.select-search {
  width: 100%;
}

.select-search__options {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  max-width: 20rem;
  overflow: auto;
  list-style: none;
  border: solid 1px var(--text);
}

.select-search__row {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.select-search__row:hover {
  background-color: rgb(30, 114, 255);
}

.select-search__row:hover button {
  color: #fff;
}

.select-search__row button {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 2px;
}

.toastify-icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.react-switch-handle {
  top: -0.125rem !important;
  left: -0.313rem !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.componentTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 50px 50px 20px;
  width: 100%;
}

.componentTitle>span {
  max-width: 10%;
  text-align: left;
  font-family: 'Source Sans Pro';
  color: #071223;
  font-size: 1.625rem;
  font-weight: 700;
}

.componentTitle>hr {
  max-width: 90%;
  width: 90%;
  height: 1px;
  border: solid .2px #EEEEEE;
}

@media(max-width: 2560px) {
  .componentTitle>span {
    max-width: 25%;
  }

  .componentTitle>hr {
    max-width: 85%;
    width: 85%;
  }
}

@media(max-width: 1440px) {
  .componentTitle>span {
    max-width: 25%;
  }

  .componentTitle>hr {
    max-width: 75%;
    width: 75%;
  }
}

@media(max-width: 1024px) {
  .componentTitle>span {
    max-width: 35%;
  }

  .componentTitle>hr {
    max-width: 65%;
    width: 65%;
  }
  .div-footer>button {
    padding: 15px 70px;
  }
}

@media(max-width: 768px) {
  .div-footer>button {
    padding: 15px 70px;
  }
}

@media(max-width: 540px) {
  .d-flex-input {
    width: 90%;
    margin: 0;
  }

  .componentTitle {
    flex-direction: column;
    align-items: center;
    margin: 100px 0 50px 0;
  }

  .componentTitle>span {
    max-width: 100%;
    width: 100%;
  }

  .componentTitle>hr {
    max-width: 100%;
    width: 100%;
  }

  .div-footer {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .div-footer>button {
    padding: 15px 70px;
  }

}

@media(max-width: 280px) {
  .div-footer>button {
    padding: 15px 50px;
  }
}