.clientInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}
/* @media(max-width: 768px) {
  .clientInfo {
    justify-content: space-around;
  }
} */
